apiVersion: v1
kind: Service
metadata:
  name: ollama-service
  namespace: ollama
  labels:
    app: ollama
spec:
  type: LoadBalancer
  selector:
    app: ollama
  ports:
  - name: api
    port: 11434
    targetPort: 11434
    protocol: TCP