apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-config
  namespace: traefik
data:
  traefik.yml: |
    entryPoints:
      home-assistant:
        address: ":8123"
    providers:
      kubernetesIngress: {}
    api:
      dashboard: true
      insecure: true