apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- resources/namespace.yaml
- resources/serviceaccount.yaml
- resources/rbac.yaml
- resources/configmap.yaml
- resources/deployment.yaml
- resources/service.yaml
- resources/ingressclass.yaml